# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS system files
.DS_Store

# IDE and Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Temporary files
*.tmp
*.bak
*.log
